In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix
import pickle

In [77]:
df = pd.read_csv('heart.csv')

In [78]:
df.head(11)

    Unnamed: 0  age  sex  ...  oldpeak  ST slope  target
0            0   40    1  ...      0.0         1       0
1            1   49    0  ...      1.0         2       1
2            2   37    1  ...      0.0         1       0
3            3   48    0  ...      1.5         2       1
4            4   54    1  ...      0.0         1       0
5            5   39    1  ...      0.0         1       0
6            6   45    0  ...      0.0         1       0
7            7   54    1  ...      0.0         1       0
8            8   37    1  ...      1.5         2       1
9            9   48    0  ...      0.0         1       0
10          10   37    0  ...      0.0         1       0

[11 rows x 13 columns]

In [79]:
df

      Unnamed: 0  age  sex  ...  oldpeak  ST slope  target
0              0   40    1  ...      0.0         1       0
1              1   49    0  ...      1.0         2       1
2              2   37    1  ...      0.0         1       0
3              3   48    0  ...      1.5         2       1
4              4   54    1  ...      0.0         1       0
...          ...  ...  ...  ...      ...       ...     ...
1043         297   68    0  ...      1.5         1       1
1044         298   44    0  ...      0.6         1       1
1045         299   52    1  ...      0.0         2       0
1046         300   59    1  ...      0.0         2       0
1047         301   54    1  ...      1.4         1       0

[1048 rows x 13 columns]

In [80]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [81]:
df

      age  sex  chest pain type  ...  oldpeak  ST slope  target
0      40    1                2  ...      0.0         1       0
1      49    0                3  ...      1.0         2       1
2      37    1                2  ...      0.0         1       0
3      48    0                4  ...      1.5         2       1
4      54    1                3  ...      0.0         1       0
...   ...  ...              ...  ...      ...       ...     ...
1043   68    0                3  ...      1.5         1       1
1044   44    0                3  ...      0.6         1       1
1045   52    1                1  ...      0.0         2       0
1046   59    1                4  ...      0.0         2       0
1047   54    1                1  ...      1.4         1       0

[1048 rows x 12 columns]

In [82]:
df.isnull().sum()
scaler = StandardScaler()

In [83]:
x = df.drop(columns=['target'])
y = df['target']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)
x_train_scaler = scaler.fit_transform(x_train)
x_test_scaler = scaler.fit_transform(x_test)

In [84]:
model = {
    'logistic' : LogisticRegression(),
    'knn' : KNeighborsClassifier(n_neighbors=5),
    'naivebayes' : GaussianNB(),
    'tree' : DecisionTreeClassifier(),
    'svm' : SVC()
}

In [85]:
without_scaler_res = []
res = []

In [86]:
for name,val in model.items() :
    m = val.fit(x_train,y_train)
    y_predict = m.predict(x_test)
    r = {
        'acc' : accuracy_score(y_test,y_predict),
        'f1' : f1_score(y_test,y_predict),
        'matrix' : confusion_matrix(y_test,y_predict)
    }
    res.append({name : r})

c:\Users\Aniket\miniconda3\envs\ds-env\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [87]:
res

[{'logistic': {'acc': 0.7571428571428571,
   'f1': 0.7582938388625592,
   'matrix': array([[79, 25],
          [26, 80]])}},
 {'knn': {'acc': 0.40476190476190477,
   'f1': 0.4444444444444444,
   'matrix': array([[35, 69],
          [56, 50]])}},
 {'naivebayes': {'acc': 0.7476190476190476,
   'f1': 0.7414634146341463,
   'matrix': array([[81, 23],
          [30, 76]])}},
 {'tree': {'acc': 0.6523809523809524,
   'f1': 0.6604651162790698,
   'matrix': array([[66, 38],
          [35, 71]])}},
 {'svm': {'acc': 0.580952380952381,
   'f1': 0.5769230769230769,
   'matrix': array([[62, 42],
          [46, 60]])}}]

In [88]:
for name,val in model.items() :
    m = val.fit(x_train_scaler,y_train)
    y_predict = m.predict(x_test_scaler)
    r = {
        'acc' : accuracy_score(y_test,y_predict),
        'f1' : f1_score(y_test,y_predict),
        'matrix' : confusion_matrix(y_test,y_predict)
    }
    without_scaler_res.append({name : r})

In [89]:
without_scaler_res

[{'logistic': {'acc': 0.7619047619047619,
   'f1': 0.7596153846153846,
   'matrix': array([[81, 23],
          [27, 79]])}},
 {'knn': {'acc': 0.7666666666666667,
   'f1': 0.7655502392344498,
   'matrix': array([[81, 23],
          [26, 80]])}},
 {'naivebayes': {'acc': 0.7476190476190476,
   'f1': 0.7389162561576355,
   'matrix': array([[82, 22],
          [31, 75]])}},
 {'tree': {'acc': 0.7095238095238096,
   'f1': 0.7188940092165899,
   'matrix': array([[71, 33],
          [28, 78]])}},
 {'svm': {'acc': 0.780952380952381,
   'f1': 0.7889908256880734,
   'matrix': array([[78, 26],
          [20, 86]])}}]

In [93]:
svm_model = SVC()
svm_model.fit(x_train_scaler,y_train)
y_p = svm_model.predict(x_test_scaler)
accuracy_score(y_test,y_p)

0.780952380952381

In [97]:
pickle.dump(svm_model)

TypeError: dump() missing required argument 'file' (pos 2)